<?xml version="1.0"?>
<tools>
  <extensions>
    <extension name="GitExtension" path="GitExtension.psm1" />
  </extensions>
	<nuget>
		<source>URI</source>
		<pushTimeout>900</pushTimeout>
		<apiKey>AzureDevOps</apiKey>
	</nuget>
	<packages>
		<package name="NuGetSharedPacker" version="" subfolder="PowerShell" importModule="NuGetSharedPacker" />
	</packages>
</tools>