<configuration>
  <packageSources>
    <!-- Any Azure Artifacts feeds within your organization will automatically be authenticated. Both dev.azure.com and visualstudio.com domains are supported. -->
    <add key="EpsNuGet" value="https://pkgs.dev.azure.com/epsdev/_packaging/EpsNuGet/nuget/v3/index.json" />
  </packageSources>
</configuration>